
<div class="signin">
  <div class="close"><span ng-click="close()" class="fui-cross"></span></div>
  <div>
    <button ng-click="admin()" class="btn btn-primary">JPAユーザー</button>
    <button ng-click="facility()" class="btn btn-primary">施設ユーザー</button>
  </div>
  <div ng-click="user()" class="sigin-select"><img src="images/facebook-btn.png"/><br><img src="images/twitter-btn.png"/><br><img src="images/line-btn.png"/><br>
    <p>メールアドレスを入力してログイン</p>
    <input placeholder="メールアドレス"/>
    <button ng-click="facility()" class="btn btn-primary">ログイン</button>
  </div>
</div>