
<div ng-controller="FacilityTournamentsController">
  <div class="container facility-tournaments">
    <h3>運営大会一覧</h3>
    <div class="tournament-container-wrapper">
      <div class="tournament-container grade-1 facility">
        <div class="info-tournament">
          <p> <span>2016/03/30  </span><span class="grade-1">JPAマスターズ  </span><span>所沢  </span><span class="capacity">定員16/16</span></p>
        </div><img src="https://j-futsal.jfa.jp/j-fut/F00110/Image/3.jpg"/>
        <div id="detail1" class="content">
          <p>今年最初のJPAマスターズ！ディフェンディングチャンピオンでありランキング1, 2位の竹口ペアを倒し、新たな勝者は現れるのか？！</p>
          <button ng-click="support()" class="join btn btn-primary">当日の運営サポート</button>
        </div>
      </div>
      <div class="tournament-container grade-2 facility">
        <div class="info-tournament">
          <p> <span>2016/04/03</span><span class="grade-2">オープン</span><span>所沢  </span><span class="capacity">定員8/10</span></p>
        </div><img src="https://j-futsal.jfa.jp/j-fut/F00110/Image/3.jpg"/>
        <div id="detail2" class="content">
          <p>今年最初のオープン大会！今年のトロフィーは誰の手に渡るのか？！</p>
          <button ng-click="support()" class="join btn btn-primary">当日の運営サポート</button>
        </div>
      </div>
      <div class="tournament-container grade-3 facility">
        <div class="info-tournament">
          <p> <span>2016/04/12</span><span class="grade-3">チャレンジャー</span><span>所沢  </span><span class="capacity">定員5/10</span></p>
        </div><img src="https://j-futsal.jfa.jp/j-fut/F00110/Image/3.jpg"/>
        <div id="detail3" class="content">
          <p>今年最初のチャレンジャー大会！今年のトロフィーは誰の手に渡るのか？！</p>
          <button ng-click="support()" class="join btn btn-primary">当日の運営サポート</button>
        </div>
      </div>
      <div class="tournament-container grade-4 facility">
        <div class="info-tournament">
          <p> <span>2016/05/05</span><span class="grade-4">ビギナー</span><span>所沢  </span><span class="capacity">定員2/10</span></p>
        </div><img src="https://j-futsal.jfa.jp/j-fut/F00110/Image/3.jpg"/>
        <div id="detail4" class="content">
          <p>今年最初のビギナー大会！まずはここから力を伸ばしていこう！初心者大歓迎！</p>
          <button ng-click="support()" class="join btn btn-primary">当日の運営サポート</button>
        </div>
      </div>
    </div>
  </div>
</div>