@import 'variables';

body {
    background-image: url('../images/background-image-gray.png');
    &.red {
        background-image: url('../images/background-image-red.png');
    }
    &.blue {
        background-image: url('../images/background-image-blue.png');
    }
    &.gray {
        background-image: url('../images/background-image-gray.png');
    }
    background-repeat: repeat;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-center {
    text-align: center;
}

.main-content {
    margin: 53px auto auto auto;
    padding: 10px;
    width: 80%;
    height: 1000px;
    background-color: white;
}

.fc-time-grid-event {
    max-width: 70%;
}

.container {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.navbar-brand {
    text-align: center;
}

.signin {
    height: 200px;
    padding: 30px;
    div {
        text-align: center;
        padding: 8px;
        margin-bottom:20px;
    }
    button {
        margin-left: 10px;
    }
    .close {
        position:absolute;
        right: 10px;
        top: 10px;
    }
}

.bracket-container {
    margin-top:10px;
}

.brackets {
    .container-brackets {
        position: relative;
        margin-top: 5px;

        .round {
            width: 150px;
            margin-left: -75px;
            float: left;
            &:first-child {
                margin-left: 0px;
            }
            .match {
                &:last-child {
                    margin-bottom: 0px;
                }
                .player {
                    vendor('box-sizing', content-box);
                    border: solid 1px black;
                    border-radius: 5px;
                    height: 23px;
                    padding 0px 5px;
                    line-height: 23px;
                    background-color: #46CFB0;
                    &.hover {
                        background-color: #E95546;
                        color: white;
                    }
                    .name {
                        text-align: center;
                        text-decoration: none;
                        cursor: pointer;
                        width: 100%;
                        margin-left: 10px;
                        color: black;
                    }
                }
            }
        }
        .separator-brackets {
            width: 80px;
            float: left;
            .line {
                vendor('box-sizing', content-box);
                border: 1px solid black;
                border-left: none;
                border-radius: 0px 5px 5px 0px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
}


