base-color = rgba(231,242,245,0.5)
base-bg-color = rgb(233, 234, 237)
light-gray = rgb(198, 198, 198)

z-depth-1 = 0px 1px 1px 0px rgba(0,0,0,0.24);
z-depth-2 = 0px 3px 3px 0px rgba(0,0,0,0.23);
z-depth-3 = 0px 6px 3px 0px rgba(0,0,0,0.23);
z-depth-4 = 0px 10px 5px 0px rgba(0,0,0,0.22);
z-depth-5 = 0px 15px 6px 0px rgba(0,0,0,0.22);

vendor(prop, args)
    {prop} args
    -webkit-{prop} args
    -moz-{prop} args
