div(ng-controller="HomeController")
  div.container
    button.btn.btn-primary(ng-click="tournament()") トーナメント作成
    button.btn.btn-primary(ng-click="logout()") logout
    button.btn.btn-primary(ng-click="login()") login
    button.btn.btn-primary(ng-click="admin()") admin
    button.btn.btn-primary(ng-click="facility()") facility

