div.movie-modal
  div.close
    span.fui-cross(ng-click="close()")
  div
    p 
      span 2015/04/12 
      span.grade-1 チャレンジャー
      span 所沢
  iframe(width="560" height="315" src="https://www.youtube.com/embed/UCmUO31QhYc" frameborder="0" allowfullscreen)
