div.signin
  div.close
    span.fui-cross(ng-click="close()")
  div please select roles
  div
    button.btn.btn-primary(ng-click="admin()") JPAユーザー
    button.btn.btn-primary(ng-click="facility()") 施設ユーザー
    button.btn.btn-primary(ng-click="user()") 一般ユーザー
