body {
  background-image: url("../images/background-image-gray.png");
  background-repeat: repeat;
}
body.red {
  background-image: url("../images/background-image-red.png");
}
body.blue {
  background-image: url("../images/background-image-blue.png");
}
body.gray {
  background-image: url("../images/background-image-gray.png");
}
.left {
  float: left;
}
.right {
  float: right;
}
.hidden {
  visibility: hidden;
}
.text-center {
  text-align: center;
}
.main-content {
  margin: 53px auto auto auto;
  padding: 10px;
  width: 80%;
  height: 1000px;
  background-color: #fff;
}
.fc-time-grid-event {
  max-width: 70%;
}
.container {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.navbar-brand {
  text-align: center;
}
.signin {
  height: 200px;
  padding: 30px;
}
.signin div {
  text-align: center;
  padding: 8px;
  margin-bottom: 20px;
}
.signin button {
  margin-left: 10px;
}
.signin .close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.bracket-container {
  margin-top: 10px;
}
.brackets .container-brackets {
  position: relative;
  margin-top: 5px;
}
.brackets .container-brackets .round {
  position: relative;
  z-index: 10;
  width: 150px;
  margin-left: -75px;
  float: left;
}
.brackets .container-brackets .round:first-child {
  margin-left: 0px;
}
.brackets .container-brackets .round .match .player {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  border: solid 1px #000;
  border-radius: 5px;
  height: 23px;
  padding: 0px 5px;
  line-height: 23px;
  background-color: #46cfb0;
}
.brackets .container-brackets .round .match .player.hover {
  background-color: #e95546;
  color: #fff;
}
.brackets .container-brackets .round .match .player .name {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  margin-left: 10px;
  color: #000;
}
.brackets .container-brackets .round .match .player.champion {
  position: relative;
  left: 130px;
  margin-bottom: 0px;
}
.brackets .container-brackets .separator-brackets {
  position: relative;
  margin-left: -75px;
  width: 180px;
  float: left;
}
.brackets .container-brackets .separator-brackets .line {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  border: 1px solid #000;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
}
.brackets .container-brackets .separator-brackets .line.last-line {
  margin-bottom: 0px !important;
  height: 0px !important;
  border-bottom: none;
  width: 100px;
}

