<!DOCTYPE html>
html(lang="en" ng-app="app" ng-csp)
  head
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")

    <!-- JS dependencies (order matters!) -->
    script(src="lib/vendors.js")
    script(src="scripts/all.js")

    <!-- CSS dependencies -->
    link(rel="stylesheet" href="lib/vendors.css")
    link(rel="stylesheet" href="styles/style.css")

    title ランキング

  body(ng-controller="AppController")
    nav.navbar.navbar-inverse.navbar-embossed(role="navigation" style="position: absolute; top: 0; left: 0; width: 100%; border-radius: 0px;" id="topbar")
      div.navbar-header
        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01")
          span.sr-only Toggle navigation
        a.navbar-brand(href="#") JPA
      div.collapse.navbar-collapse(id="navbar-collapse-01")
        ul.nav.navbar-nav.navbar-left(ng-if="navbarLeft.length > 0")
          li(ng-repeat="btn in navbarLeft")
            a(href="{{ btn.location }}") {{ btn.text }}
        ul.nav.navbar-nav.navbar-right(ng-if="navbarRight.length > 0")
          li(ng-repeat="btn in navbarRight")
            a(href="{{ btn.location }}" ng-if="btn.location") {{ btn.text }}
            a(ng-click="btn.click()" ng-if="btn.click") {{ btn.text }}
         
    div.main-content(ng-view)
